.profile__subscription{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", "Arial", sans-serif;
  color: #FFFFFF;
  margin-top:0px;
  margin-bottom:0px;
  max-width:90%;
  text-overflow: ellipsis;
  white-space: nowrap;
   overflow: hidden;
}
@media screen and (max-width: 770px) {
  .profile__subscription{
    font-size: 14px;
    line-height: 17px;
  }
}